video{
	display: block;
	margin: 0;
	width: 100%;
}
.big{
	color: #999999;
	font-size: 1.2em;
}
p{
	font-size: 1em;
	color: #999999;
}
td{
	color: #999999;
	font-size: 1em;
	text-align: center;
}
.banner{
	background-color: #5999ff;
	width: 100%;
	height: 8.3%;
	margin-bottom: 20px;
}
.varsity{
	color: #ffffff;
	font-size: 2.4em;
	font-weight: 300;
	padding: 20px 29px;
}
#ss-form{
	background-color: none;
	margin: 0 auto;
	-moz-box-shadow: none;
    -webkit-box-shadow: none;
	box-shadow: none;
	overflow: hidden;
	width: 90%;
}

.label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding: 16px;
	/*margin-right: 15px;*/
	font-size: 13px;
	border-radius: 50%;
}
input[type=radio]{
	display: none;
}
.label:before {
	-webkit-box-shadow:inset 0px 0px 0px 2px #757575;
	-moz-box-shadow:inset 0px 0px 0px 2px #757575;
    box-shadow:inset 0px 0px 0px 2px #757575;
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	background:none;
}
.label:before {
	border-radius: 50%;
}
input[type=radio]:checked + .label:before {
	-webkit-animation: myfirst .2s;
	animation: myfirst .2s;
	background-color: #fcbd21;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
input[type=radio]:checked + .label {
	-webkit-animation:inputHighlightera 0.3s ease;
  	-moz-animation:inputHighlightera 0.3s ease;
  	animation:inputHighlightera 0.3s ease;
}


@-webkit-keyframes inputHighlightera {
	from { background-color: rgba(252,189,33,.1); }
  to 	{ background:transparent; }
}
@-moz-keyframes inputHighlightera {
	from { background-color: rgba(252,189,33,.1); }
  to 	{ background:transparent; }
}
@keyframes inputHighlightera {
	from { background-color: rgba(252,189,33,.1); }
  to 	{ background:transparent; }
}






/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from   {margin:8px;height:0px;width:0px;}
    to  {margin:0px;height:16px;width:16px;}
}

/* Standard syntax */
@keyframes myfirst {
    from   {margin:9px;height:0px;width:0px;}
    to  {margin:0px;height:100%;width:100%;}
}