h1 {
	text-align: center;
}

.coachbox {
	background: #115;
	color: #fff;
	margin: 0;
	padding: 0;
}

.coachbox img {
	float: left;
	width: 125px;
	margin: 0;
	padding-right: 10px;
}

.coachbox h2 {
	margin-top: 1px;
	padding-top: 5px;
}

.coachbox h2 a {
	color: #fff;
}

.coachbox span {
	font-style: italic;
}

.coachbox div {
	clear: both;
}